<ul id="links-container">
  <% @links.each do |link| %>
    <section class="link">
      <li>
        <a class="title" href="<%= link.url %>"><%= link.name %></a>
      </li>
      <section class="description"><%= link.description %></section>
      <% link.tags.each do |tag| %>
        <a href="/tags/<%= tag.text %>"><%= tag.text %></a>
      <% end %>
      </section>
  <% end %>
 </ul>











